<div class="row">
	<div class="col s12 center-align">
		<h1><%= name %></h1>
		<p><%= range %></p>

		<p class="sign-large"><%- icon %></p>

		<p><small>elemento:</small> <big><b><%= element %></big></b></p>
		<p><small>planeta:</small> <big><b><%= planet %></big></b></p>

		<p><%= text %></p>
	</div>
</div>

<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.send({'command':'HOROSCOPO'})"><i class="material-icons">arrow_back</i></a>
</div>